/* Base Styles */



*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
}


.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 20px;
}

nav {
  left: 0;
  width: 30%;
  background: rgb(37, 37, 37);
  color: aliceblue;
}

.right {
  right: 0;
  width: 70%;
}

.nav-header {
  text-align: center;
}



ul {
  padding-left: 2rem;
}

ul li {
  padding: 5px;
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
}

a:link {
  text-decoration: none;
  color: rgb(77, 152, 238);
}

a:visited {
  text-decoration: none;
  color: rgb(106, 65, 240);
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

b {
padding: 5px;
}

.rule{
  display: none;
}