/* Base Styles */

:root {
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

main {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #fafafa;
  color: #262626;
  
  
}

#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    display: table;
    font-size: 200%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;  
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }